// ------------------------------------------------------------------
// Helvetica Fonts
// ------------------------------------------------------------------

@font-face {
  font-family: 'Helvetica Bold';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/helvetica-lt-std-bold.otf') format('opentype');
}

@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/helvetica-neue-lt-std-roman.otf') format('opentype');
}

